beautifulsoup4==4.9.3
certifi==2020.12.5
chardet
Flask
gunicorn
Jinja2
psycopg2
psycopg2-binary
PySocks==1.7.1
requests==2.25.1
SQLAlchemy
urllib3==1.26.5
Werkzeug
python-dateutil
boto3==1.17.44
pandas
requests
selenium
webdriver-manager
