
button{
  font-family: "Arial",sans-serif;
  padding-top: 1px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}

header{
  border-bottom: 1px #ccc solid;
  background: #eee;
  line-height: 1.925em;
  min-height: 1.1em;
  width: 100%;
}

h1{
  vertical-align: baseline;
  font-family: "Bitstream Vera Serif","Times New Roman",serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

p{
  font-size: 16px;
}

body{
  padding-left: 10px;
  padding-right: 10px;
}
