
button{
  font-family: "Arial",sans-serif;
  padding-top: 1px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}

header{
  border-bottom: 1px #ccc solid;
  background: #eee;
  line-height: 10em;
  min-height: 1.1em;
  width: 100%;
}

h1{
  font-family: "Bitstream Vera Serif","Times New Roman",serif;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

p{
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

body{
  border: 0;
  margin:0;
}
