
body{
  background-image: url('../images/ibm.gif');
  margin: 0;
  padding: 0;
}
#glitch{
  font-family: 'VT323', monospace;
  font-size: 250px;
  color: white;
  text-align: center;
  width:100%;
  height:100%
}
