body{
  border: 0;
  margin:0;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
img{
  min-width: 30px;
}
#title{
  margin-top: 50px;
  font-family: "Bitstream Vera Serif","Times New Roman",serif;
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
}

missed-connection-container {
  font-family: "Times New Roman";
  font-size: 1vwpx;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: left;
  height: 100%;
  word-wrap: break-word;
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.top{
  height: 5%;
}
.middle{
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: left;
}
.bottom{
  height: 10%;
  display: flex;
  flex-direction: column;
  width: 8%;
}